body{
    margin: 10px;
    padding: 0px;
}
.logo{
    border-radius: 50%;
    height: 100px;
    position: relative;

}
.nav-h1{
    color: aliceblue;
    margin-right: 20px;
}
.navbar{
    background-color: darkslategray;
    border-radius: 70px;
    /* display: table; */
}
.bodySearch{
    padding: 10px;
    /* text-align: right; */
}
.input{
    height: 40px;
    margin-right: 10px;
    text-align: center;
}
.btn{
    background-color: darkslategray;
    color: bisque;
    padding: 10px;
    margin: 10px;
    transition-duration: 1s;
}
table {
    /* align-items: center; */
    font-family: "Trebuchet MS", Arial, Helvetica, sans-serif;
    /* border-collapse: collapse; */
    width: 100%;
    text-align: left;
  }
  table td {
    border: 1px solid #ddd;
    padding: 8px;
  }
  table tr:nth-child(even){background-color: #f2f2f2;}
  table tr:hover {background-color: #ddd;}
  table th {
    padding: 12px 8px;
    text-align: left;
    background-color: darkslategray;
    color: white;
  }
.container {
    border: 3px solid #fff;
    padding: 20px;
}

.child1 {
    width: 90%;
    float: left;
    padding: 20px;
    /* border: 2px solid red; */
}
.child2 {
    width: 10%;
    float: left;
    padding: 20px;
    /* border: 2px solid red; */
    min-width: none;
    max-width: 10%;
    min-height: none;
    max-height: fit-content;
}  